<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_apk"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@drawable/mhd_img"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        tools:targetApi="31">
        <activity
            android:name=".RegisterSuccessActivity"
            android:theme="@style/WhiteBarNoAction">
        </activity>
        <activity
            android:name=".BantuanActivity"
            android:exported="false"
            android:label="Bantuan" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".InfoAppActivity"
            android:label=" "
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/AppThemeNoAction" />
        <!--
  TODO: Before you run your application, you need a Google Maps API key.

  To get one, follow the directions here:

     https://developers.google.com/maps/documentation/android-sdk/get-api-key

  Once you have your API key (it starts with "AIza"), define a new property in your
  project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
  "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB0SfN-vWhiK1pO9c791R2U2uZJXmIIzys" />


        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/WhiteBarNoAction" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/WhiteBarNoAction" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/WhiteBarNoAction">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>